@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  margin: 0;
  padding: 0;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .eye-container {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 40vh;
  }

  .eye-element {
    width: 200px;
    height: 142px;
    margin-left: 50px;
    mask-image: url("./eye.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  .eye-open {
    width: 300px;
    height: 300px;
    border-radius: 70% 0;
    rotate: 45deg;
    background: #000;
    transition: 300ms;
  }

  .eye-closed {
    border-radius: 100% 0;
  }

  .post-content h3 {
    font-size: 1.4rem;
    padding-bottom: 0.2rem;
  }

  .post-content h4 {
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
  }

  .post-content p {
    padding-bottom: 0.2rem;
  }

  /* .eye {
    clip-path: polygon(
      99.624% 48.114%,
      99.624% 48.114%,
      97.978% 44.609%,
      96.282% 41.164%,
      94.529% 37.786%,
      92.717% 34.481%,
      90.839% 31.255%,
      88.891% 28.113%,
      86.869% 25.062%,
      84.768% 22.107%,
      82.583% 19.254%,
      80.308% 16.51%,
      80.308% 16.51%,
      74.823% 10.85%,
      69.176% 6.371%,
      63.404% 3.076%,
      57.543% 0.966%,
      51.629% 0.044%,
      45.7% 0.315%,
      39.791% 1.779%,
      33.94% 4.44%,
      28.181% 8.3%,
      22.553% 13.363%,
      22.553% 13.363%,
      22.231% 13.693%,
      21.911% 14.026%,
      21.592% 14.361%,
      21.276% 14.699%,
      20.961% 15.039%,
      20.649% 15.381%,
      20.338% 15.726%,
      20.029% 16.074%,
      19.722% 16.423%,
      19.417% 16.776%,
      19.417% 16.776%,
      17.157% 19.491%,
      14.987% 22.323%,
      12.902% 25.265%,
      10.897% 28.31%,
      8.966% 31.449%,
      7.105% 34.677%,
      5.308% 37.985%,
      3.57% 41.368%,
      1.887% 44.817%,
      0.252% 48.325%,
      0.252% 48.325%,
      0.147% 48.62%,
      0.072% 48.966%,
      0.025% 49.35%,
      0.005% 49.76%,
      0.011% 50.184%,
      0.043% 50.61%,
      0.098% 51.025%,
      0.175% 51.417%,
      0.275% 51.774%,
      0.394% 52.083%,
      0.394% 52.083%,
      1.997% 55.497%,
      3.649% 58.853%,
      5.353% 62.147%,
      7.115% 65.372%,
      8.938% 68.522%,
      10.829% 71.592%,
      12.791% 74.576%,
      14.828% 77.467%,
      16.947% 80.261%,
      19.15% 82.95%,
      19.15% 82.95%,
      19.175% 82.979%,
      19.2% 83.008%,
      19.225% 83.037%,
      19.25% 83.066%,
      19.275% 83.095%,
      19.3% 83.125%,
      19.325% 83.154%,
      19.35% 83.184%,
      19.375% 83.214%,
      19.4% 83.245%,
      19.4% 83.245%,
      22.091% 86.213%,
      24.84% 88.932%,
      27.641% 91.388%,
      30.488% 93.565%,
      33.374% 95.451%,
      36.293% 97.03%,
      39.239% 98.29%,
      42.204% 99.215%,
      45.184% 99.792%,
      48.172% 100.006%,
      48.172% 100.006%,
      50.777% 99.935%,
      53.262% 99.723%,
      55.639% 99.371%,
      57.917% 98.879%,
      60.107% 98.247%,
      62.22% 97.476%,
      64.266% 96.567%,
      66.255% 95.52%,
      68.199% 94.335%,
      70.107% 93.013%,
      70.107% 93.013%,
      73.867% 90.003%,
      77.406% 86.676%,
      80.742% 83.056%,
      83.89% 79.167%,
      86.868% 75.035%,
      89.692% 70.684%,
      92.378% 66.137%,
      94.944% 61.421%,
      97.405% 56.558%,
      99.779% 51.574%,
      99.779% 51.574%,
      99.875% 51.308%,
      99.943% 50.993%,
      99.984% 50.641%,
      99.999% 50.264%,
      99.99% 49.873%,
      99.958% 49.479%,
      99.904% 49.095%,
      99.83% 48.732%,
      99.736% 48.401%,
      99.624% 48.114%
    );
  } */
}
