@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  margin: 0;
  padding: 0;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .eye-container {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 40vh;
  }

  .eye-element {
    width: 200px;
    height: 142px;
    margin-left: 50px;
    mask-image: url("./eye.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  .eye-open {
    width: 300px;
    height: 300px;
    border-radius: 70% 0;
    rotate: 45deg;
    background: #000;
    transition: 300ms;
  }

  .eye-closed {
    border-radius: 100% 0;
  }



  .products-slider .swiper-slide{
    display: flex!important;
  }
}

@layer components {
  .container {
   @apply relative flex max-w-7xl justify-center items-center m-auto z-10;
  }

  .post-content {
    @apply space-y-2 pt-[8vh] pb-[10vh] px-[10vw];
  }

  .post-content h2 {
    @apply text-2xl md:text-3xl font-semibold text-primary pb-2 pt-6;
  }

  .post-content h3 {
    @apply text-xl md:text-2xl font-semibold text-primary pb-1;
  }

  .post-content h4 {
    @apply text-lg md:text-xl font-semibold text-text pb-1;
  }

  .post-content p {
    @apply text-text leading-7 pb-1;
  }

  .post-content ul {
    @apply list-disc text-text pl-6 pb-4;
  }

  .hero-eye-animated-bg1-container {
    @apply absolute z-0 top-[0px] left-[100px] sm:top-[20px] sm:left-[120px] md:top-[30px] md:left-[120px] lg:top-[50px] lg:left-[220px] xl:top-[20px] xl:left-[180px] animate-[spin_20s_infinite_linear];
  }

  .hero-eye-animated-bg1-image {
    @apply relative w-[100px] h-[100px] md:w-[150px] md:h-[150px] lg:w-[150px] lg:h-[150px] xl:w-[250px] xl:h-[250px];
  }

  .hero-eye-animated-bg2-container {
    @apply absolute z-0 bottom-[0px] left-[-20px] lg:bottom-[40px] lg:left-[-50px]  animate-[spin_20s_infinite_linear];
  }

  .hero-eye-animated-bg2-image {
    @apply relative w-[150px] h-[150px] md:w-[250px] md:h-[250px]  lg:w-[300px] lg:h-[300px] xl:w-[350px] xl:h-[350px];
  }

  .hero-eye-small {
    @apply relative w-[170px] h-[170px] sm:w-[250px] sm:h-[250px] md:w-[300px] md:h-[300px] lg:w-[400px] lg:h-[400px] xl:w-[500px] xl:h-[500px] rounded-br-[70%] rounded-tl-[70%] rounded-tr-[20px] rounded-bl-[20px] flex justify-center items-center mr-[-100px] md:mr-[-200px] lg:mr-[-300px]  rotate-45 bg-accent z-20 shadow-xl;
  }

  .hero-eye-big-container-static {
    @apply relative w-[270px] h-[270px] sm:w-[370px] sm:h-[370px] md:w-[500px] md:h-[500px] lg:w-[600px] lg:h-[600px] xl:w-[800px] xl:h-[800px] rounded-br-[70%] rounded-tl-[70%] rounded-tr-[0] rounded-bl-[0] duration-300 overflow-hidden rotate-45 z-10 shadow-2xl;
  }

  .hero-eye-big-container-animated {
    @apply relative w-[270px] h-[270px] sm:w-[370px] sm:h-[370px] md:w-[500px] md:h-[500px] lg:w-[600px] lg:h-[600px] xl:w-[800px] xl:h-[800px] rounded-tr-[0] rounded-bl-[0] duration-300 overflow-hidden rotate-45 z-10 shadow-2xl;
  }

  .opened {
    @apply rounded-br-[70%] rounded-tl-[70%];
  }

  .closed {
    @apply rounded-br-[100%] rounded-tl-[100%];
  }

  .hero-eye-icon {
    @apply absolute bottom-[20px] right-[20px] sm:bottom-[40px]  md:bottom-[50px] lg:bottom-[60px] xl:bottom-[90px] z-50;
  }

  .hero-eye-icon-image {
    @apply relative w-[50px] h-[50px] sm:w-[60px] sm:h-[60px] md:w-[80px] md:h-[80px] lg:w-[100px] lg:h-[100px] xl:w-[130px] xl:h-[130px] rounded-full bg-white z-50 shadow-xl;
  }

  .hero-eye-heading-animated {
    @apply ml-[-20px] lg:ml-[-30px] xl:ml-[-50px] text-xl md:text-3xl lg:text-4xl xl:text-6xl text-accentText font-bold animate-blur;
  }

  .hero-eye-heading {
    @apply lg:ml-[20px] xl:ml-[0px] text-xl md:text-3xl lg:text-4xl xl:text-6xl text-white font-bold;
  }

  .hero-eye-title {
    @apply text-xs sm:text-base md:text-xl lg:text-2xl xl:text-3xl text-center text-primary font-semibold ml-[-30px] mr-[-30px] lg:ml-[-80px] lg:mr-[-80px];
  }

  .hero-eye-content-inner {
    @apply flex flex-col gap-1 md:gap-5  justify-center w-1/2 h-full rotate-[-45deg];
  }

  .content-eye-content {
    @apply space-y-2;
  }

  .content-eye-content h3 {
    @apply text-accentText font-semibold uppercase text-[10px] sm:text-[12px] md:text-[15px] lg:text-[18px];
  }

  .content-eye-content h4 {
    @apply text-text font-semibold uppercase text-[10px] sm:text-[12px] md:text-[15px] lg:text-[17px];
  }

  .content-eye-content p {
    @apply text-text text-[10px] sm:text-[11px] md:text-[15px] lg:text-[17px];
  }

  .content-eye {
    @apply relative w-[270px] h-[270px] sm:w-[370px] sm:h-[370px] md:w-[500px] md:h-[500px] lg:w-[600px] lg:h-[600px] xl:w-[700px] xl:h-[700px] rounded-br-[60%] rounded-tl-[60%] rounded-tr-[0] rounded-bl-[0] duration-300 overflow-hidden rotate-45 z-10;
  }

  .small-eye {
    @apply absolute left-0 right-0 m-auto w-fit bottom-[-50px] lg:right-[-50%] lg:bottom-[22%];
  }

  .small-eye-inner {
    @apply relative flex justify-center items-center w-[200px] h-[200px] sm:w-[250px] sm:h-[250px] md:w-[300px] md:h-[300px] lg:w-[350px] lg:h-[350px] xl:w-[400px] xl:h-[400px] rounded-br-[60%] rounded-tl-[60%] rounded-tr-[20px] rounded-bl-[20px] rotate-45 bg-secondary z-20 shadow-xl;
  }

  .small-eye-icon-container {
    @apply absolute top-[-20px] right-[80px] sm:top-[-30px] sm:right-[80px] md:top-[-40px] md:right-[80px] lg:top-[-60px] lg:right-[150px];
  }

  .small-eye-icon {
    @apply relative w-[50px] h-[50px] sm:w-[65px] sm:h-[65px] md:w-[80px] md:h-[80px] lg:w-[100px] lg:h-[100px] xl:w-[120px] xl:h-[120px] z-[60] flex;
  }
}